body{
    background-color: #333;
    
}
nav{
    margin-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #696969;
    font-size: large;
}
.name{
    padding-top: 5px;
    color: pink;
    margin-right:68%;
    margin-left: 5%;
}
.name:hover{
    color: aquamarine;
}
.nav{
    color:rgb(19, 231, 19);
    margin-right: 3%;
}
.nav:hover{
    color: red;
    text-decoration: underline;
}
.thisPage{
    color: greenyellow;
}
.thisPage:hover{
    opacity: 0.8;
}
.heading{
    color: lightgrey;
    padding: 20px;
    margin-left: 45%;
    font-size: x-large;
}
.fName{
    color: lightgrey;
    margin-left:45%;
}
.fName:hover{
    transform: scale(1.2);
}
.lName{
    color: lightgrey;
    margin-left:45%;
}
.lName:hover{
    transform: scale(1.2);
}
.suggessions{
    color: lightgrey;
    margin-left:45%;
}
.mail{
    color: lightgrey;
    margin-left:45%;
}
.mail:hover{
    transform: scale(1.2);
}
.number{
    color: lightgrey;
    margin-left:45%;
}
.number:hover{
    transform: scale(1.2);
}
.submit{
    font-size: larger;
    background-color: black;
    color: lightgrey;
    margin-left:57%;
}
.submit:hover{
    transform: scale(1.2);
}
.inp{
    background-color: rgb(37, 34, 34);
}
.reviewForm{
    border: 3px solid green;
    padding: 10px;
}
.fa{
    margin-left:10px;
}
.fa-linkedin-square{
    margin-left: 47%;
}
.fa:hover{
    transform:scale(0.8);
}
.me{
    margin-left: 45%;
    width: 180px;
    border-radius: 70%;
}
.me:hover{
    transform: scale(0.9);
}